<div class="spacer"></div>
<div class="content">
  <button type="button" class="button" ng-click="/login"  routerLink="/auth/login" routerLinkActive="active">LOGIN</button><br>
  <div style="padding-top: 5%;"></div>
  <button type="button" class="button" ng-click="/register" routerLink="/auth/register" routerLinkActive="active">REGISTER</button><br>
  <div style="padding-top: 5%;"></div>
  <button type="button" class="button" ng-click="">FORGOT PASSWORD</button>
  <div style="padding-top: 5%;"></div>
  <!-- Footer -->
  <footer>
      Property of &nbsp;<a href="https://www.gijima.com/" > Gijima Holdings </a>&nbsp;(PTY) LTD
  </footer>

</div>
