

h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
/* Style inputs */
input[type=text], select {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
padding: center;

}

/* Style the submit button */
input[type=submit] {
width: 100%;
background-color: #272999;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
padding: center;
}
.button
{
width: 100%;
background-color: #272999;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
padding: center;
}
label{
text-align: center;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
background-color: #4845c4;
padding: center;
}
.button :hover
{
background-color: #4845c4;
padding: center;
}
.content {
max-width: 500px;
margin: auto;
}
.required-field::before {
content: "*";
color: red;
}
/* .logInci{
margin: 10px auto 0 auto;
padding-top: 100px;
} */


.bg {
/* The image used */


/* Full height */
height: 100%; 

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
